*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to bottom right, #ffff00, #ff8c00, #ffff00, #ff8c00, #ffff00);
}

/* Utility */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 1.5rem;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

img {
  width: 100%
}

/* Logo */
#logo {
  width: 70px;
  height: 70px;
}

/* Main Nav */
#main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
}

ul {
  display: flex;
  text-align: center;
}

li {
  padding: 1rem 1rem;
  text-align: center;
}

a {
  font-weight: bold;
  background: #552808;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  margin: 0.25rem 0.25rem;
}

/* .normal li a:last-child{
  background: none;
  border: 1px solid #552808;
} */

a:hover {
  background: #dd6006;
}

a .left-li {
  margin: 1rem 0.2rem;
}

/* Header Content */
.header-content {
  display: flex;
}

.header-content .header-content-1 {
  display: flex;
  flex-direction: column;
  margin-top: 250px;
  line-height: 1.2;
  width: fit-content;
}

.header-content .header-content-1 h1{
  color: #552808;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0.5rem 1rem;
  font-weight: bolder;
}

.header-content .header-content-1 p {
  padding: 1rem 0;
  line-height: 0.01;
  width: 100%;
}

.header-content .header-content-2 img {
  margin: 1.5px 0px 0 80px;
  width: 100%;
  height: 520px;
}

.buttons {
  display: flex;
}

.btn-primary, .btn-normal {
  display: inline;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  margin: 2rem 0.5rem;
}

.btn-primary{
  background-color: #552808;
  color: #fff;
  font-weight: 100;
}

.btn-primary:hover{
  background: #dd6006;
}

.btn-normal{
  border: 1px solid #552808;
}

.btn-normal:hover{
  background: #552808;
  color:#fff
}